In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('jumia.csv')
df.head()

,name,prc,old,bdg 2,rev,stars
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,"KSh 2,697","KSh 3,236",17%,(196),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,"KSh 5,281","KSh 6,607",20%,(80),3.8 out of 5
2,Vitron V635 3.1CH Multimedia Speaker System - ...,"KSh 5,169","KSh 6,203",17%,(483),4.1 out of 5
3,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,"KSh 3,034","KSh 3,641",17%,(56),3.8 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...","KSh 2,921","KSh 3,505",17%,(151),3.9 out of 5

In [3]:
df.tail()

,name,prc,old,bdg 2,rev,stars
38,Vitron Soundbar System 6000W PMPO,"KSh 5,545","KSh 7,500",26%,(10),4.4 out of 5
39,Amtec 2.1 CH MULTIMEDIA SPEAKER SYSTEM-BT/FM/...,"KSh 6,374","KSh 7,500",15%,(28),4.4 out of 5
40,"Amtec AM -011 Sub Woofer Bluetooth,FM,USB-","KSh 5,000","KSh 6,000",NaN,NaN,NaN
41,Amtec Multimedia Speaker BT/USB/SD/FM - 12000W...,"KSh 5,500","KSh 6,500",NaN,NaN,NaN
42,Skyworth SS531 - 3.1CH 510W Dolby Audio Soundb...,"KSh 19,999","KSh 22,999",Official Store,NaN,NaN

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    43 non-null     object
 1   prc     43 non-null     object
 2   old     40 non-null     object
 3   bdg 2   38 non-null     object
 4   rev     39 non-null     object
 5   stars   39 non-null     object
dtypes: object(6)
memory usage: 2.1+ KB

In [5]:
#renaming the columns names 
df.columns = ['Product Name', 'Current Price', 'Original Price', 'Discount', 'Reviews', 'Rating']

In [6]:
df.head()

,Product Name,Current Price,Original Price,Discount,Reviews,Rating
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,"KSh 2,697","KSh 3,236",17%,(196),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,"KSh 5,281","KSh 6,607",20%,(80),3.8 out of 5
2,Vitron V635 3.1CH Multimedia Speaker System - ...,"KSh 5,169","KSh 6,203",17%,(483),4.1 out of 5
3,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,"KSh 3,034","KSh 3,641",17%,(56),3.8 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...","KSh 2,921","KSh 3,505",17%,(151),3.9 out of 5

In [7]:
# removing the "KSH" from the price columns and also the commas
df['Current Price'] = df['Current Price'].str.replace('KSh ', '').str.replace(',', '')
df['Original Price'] = df['Original Price'].str.replace('KSh ', '').str.replace(',', '')

In [8]:
#converting the price columns to numeric
df['Current Price'] = pd.to_numeric(df['Current Price'])
df['Original Price'] = pd.to_numeric(df['Original Price'])

In [9]:
df.head()

,Product Name,Current Price,Original Price,Discount,Reviews,Rating
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,2697,3236.0,17%,(196),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,5281,6607.0,20%,(80),3.8 out of 5
2,Vitron V635 3.1CH Multimedia Speaker System - ...,5169,6203.0,17%,(483),4.1 out of 5
3,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,3034,3641.0,17%,(56),3.8 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...",2921,3505.0,17%,(151),3.9 out of 5

In [ ]:
#removing the % from the discount column
#Replace non-percentage entries (e.g., "Official Store") with NaN
df['Discount'] = df['Discount'].replace('[^0-9%]', '', regex=True)

In [ ]:
# Remove '%' and convert to numeric
df['Discount'] = pd.to_numeric(df['Discount'].str.replace('%', ''), errors='coerce')

In [ ]:
# Fill NaN with 0 
df['Discount'] = df['Discount'].fillna(0).astype(int)

In [15]:
df.head()

,Product Name,Current Price,Original Price,Discount,Reviews,Rating
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,2697,3236.0,17,(196),3.8 out of 5
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,5281,6607.0,20,(80),3.8 out of 5
2,Vitron V635 3.1CH Multimedia Speaker System - ...,5169,6203.0,17,(483),4.1 out of 5
3,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,3034,3641.0,17,(56),3.8 out of 5
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...",2921,3505.0,17,(151),3.9 out of 5

In [ ]:
# remove "out of 5" from the Rating column and convert it to a numeric value (float)
df['Rating'] = df['Rating'].str.replace(' out of 5', '').astype(float)

In [17]:
df.head()

,Product Name,Current Price,Original Price,Discount,Reviews,Rating
0,Amtec AM-017-2.1 Speaker System 3000WATTS PMPO...,2697,3236.0,17,(196),3.8
1,Amtec AM-03 2.1ch HI-FI Multimedia Speaker Sys...,5281,6607.0,20,(80),3.8
2,Vitron V635 3.1CH Multimedia Speaker System - ...,5169,6203.0,17,(483),4.1
3,WK 07 2.1CH HOME THEATER SPEAKER SYSTEM - 3000...,3034,3641.0,17,(56),3.8
4,"Amtec AM-109 Woofer System, Bluetooth,USB Oran...",2921,3505.0,17,(151),3.9

In [ ]:
#checking duplicates
duplicates = df.duplicated()
print("Number of duplicates:", duplicates.sum())

print(df[duplicates])

Number of duplicates: 0
Empty DataFrame
Columns: [Product Name, Current Price, Original Price, Discount, Reviews, Rating]
Index: []

In [20]:
#check for nulls
null_counts = df.isnull().sum()
print("Null values per column:\n", null_counts)

Null values per column:
 Product Name      0
Current Price     0
Original Price    3
Discount          0
Reviews           4
Rating            4
dtype: int64

In [21]:
#cleaning the nulls
df_cleaned = df.dropna()

In [22]:
null_counts = df_cleaned.isnull().sum()
print("Null values per column:\n", null_counts)

Null values per column:
 Product Name      0
Current Price     0
Original Price    0
Discount          0
Reviews           0
Rating            0
dtype: int64

In [23]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

# Load variables from .env
load_dotenv() 

# Access credentials
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")

# Create connection string
conn_string = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(conn_string)

In [24]:
#pushing the data to the database(PostgreSQL)
df_cleaned.to_sql("products", engine, if_exists="replace", index=False)

36